/* App.css */
body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-background1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}

.navbar-background-group {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  position: relative;
  color: white;
  font-size: 2em;
}

.navbar-background-group a {
  margin: 0 10px;
}

.upcoming-events-wrapper,
.past-events-parent {
  padding: 0 60px;
}

.upcoming-events,
.past-events {
  margin: 0;
  font-weight: 700;
}

.frame-parent1,
.frame-parent2,
.frame-parent3,
.frame-parent4,
.frame-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame-parent1,
.frame-group {
  flex-direction: row;
  justify-content: space-between;
}

.frame-parent2 {
  gap: 20px;
}

.current-event-button,
.past-event-wrapper {
  cursor: pointer;
  border: 3px solid var(--color-thistle-200);
  padding: 5px 20px;
  background-color: var(--color-whitesmoke);
  border-radius: 5px;
  box-shadow: 0 4px 4px #cbc3e1;
}

.current-event-button:hover,
.past-event-wrapper:hover {
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-lightslategray-100);
}

.current-event-button:focus,
.past-event-wrapper:focus {
  background-color: var(--color-slategray);
  border: 3px solid var(--color-lightslategray-100);
}

.event-name1,
.event-name2,
.event-name4,
.button-text {
  font-size: 1.2em;
  color: var(--color-gray-200);
}

.event-info-parent {
  padding: 40px;
  background-color: var(--color-thistle-100);
}

.event-name-wrapper1,
.pm-700-pm-kingston-hall-ro-parent {
  display: flex;
  justify-content: center;
}

.pm-700-container {
  text-align: center;
}

.register-for-event-wrapper {
  cursor: pointer;
  border: 0;
  padding: 5px 40px;
  background-color: var(--color-slategray);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.register-for-event-wrapper:hover {
  background-color: var(--color-lightslategray-200);
}

.section2-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 0; /* Ensure the background is behind other elements */
}
.frame-parent3 {
  align-items: flex-end;
  gap: 50px;
}

.line-icon {
  height: 4px;
  margin-top: 20px;
}

.frame-wrapper2,
.frame-wrapper3,
.frame-wrapper4,
.frame-wrapper5 {
  display: flex;
  justify-content: center;
}

.past-events-wrapper,
.events2-inner,
.events2-child {
  padding: 20px;
}

.events2 {
  background: linear-gradient(180deg, #f2f2f2, #cbc3e1);
}

.copyright {
  align-self: stretch;
  font-size: 12px;
  line-height: 17px;
  font-family: var(--font-roboto);
  text-align: center;
  display: inline-block;
  min-width: 81px;
}

.vertical-line {
height: 40px;
border-left: 1px solid white;
padding: 20px;
justify-content: center;
align-items: center;

}

.art-club-parent {
padding: 30px;
justify-content: center;
align-items: center;
}

.club-text {
padding: 30px;
justify-content: center;
align-items: center;
}

.art-club-group {
  display: flex;
  flex-direction: column;
}

.instagram-container,
.e-mail-container,
.admin-container {
  margin-top: 20px;
}