footer {
    background-color: #1A1A1A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 125px;
    margin-top: auto;
  }
  
  footer a {
    color: white;
    position: relative;
    display: inline-block;
    min-width: 120px;
    z-index: 1;
    text-decoration: none;
    padding: auto;
    
  }

  footer b {
    color: white;
    font-size: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

  footer p {
    color: white;
    margin: 0;
    font-size: 17px;;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }

.copyright {
    align-self: stretch;
    font-size: 12px;
    line-height: 17px;
    font-family: var(--font-roboto);
    text-align: center;
    display: inline-block;
    min-width: 81px;
  }

.vertical-line {
  height: 40px;
  border-left: 1px solid white;
  padding: 20px;
  justify-content: center;
  align-items: center;

}

.art-club-parent {
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.club-text {
  padding: 30px;
  justify-content: center;
  align-items: center;
}