hr.solid {
  border-top: 3px solid #bbb;
}

.years-button{
  cursor: pointer;
  background-color: #f2f2f2; /* Green */
  border: 3px solid #cbc3e1;
  padding: 10px 26px;
  align-self: stretch;
  border-radius: 10px;
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.years-button:hover{
  background-color: #dcdcdc;
  border: 3px solid #778899;
  box-sizing: border-box;
}

.years-button:focus{
  background-color: #766b94;
  border: 3px solid #778899;
  box-sizing: border-box;
  color:white;
}

.years-text{
  position: relative;
  font-size: 32px;
  font-family: "Helvetica";
  color: #1a1a1a;
  text-align: left;
}

.events-button{
  cursor: pointer;
  background-color: #f2f2f2; /* Green */
  border: 3px solid #cbc3e1;
  padding: 10px 26px;
  align-self: stretch;
  border-radius: 10px;
  box-shadow: 0 4px 4px #cbc3e1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.events-button:hover{
  background-color: #dcdcdc;
  border: 3px solid #778899;
  box-sizing: border-box;
}

.events-button:focus{
  background-color: #766b94;
  border: 3px solid #778899;
  box-sizing: border-box;
  color:white;
}

.events-text{
  position: relative;
  font-size: 32px;
  font-family: "Helvetica";
  color: #1a1a1a;
  text-align: left;
}

.years-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.event-desc-container {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #CDC3D8;
}

.event-desc {
  font-size: 30px;
}

.h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #1A1A1A;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  padding-top: 20Px;
}

.belowbanner{
  align-items: center;
  align-self: center;
  align-content: center;
}

.rectangle-parent1 {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  align-self: center;
  background-color: #353232;
  width: 505px;
  flex-direction: column;
  align-items: center;
  padding: 47px 20px 47px 22px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
}

.art-title{
  
}