#LogoItem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    padding: 10px 10px;

}

h1 {
    font-weight: 700;
    display: flex;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #1A1A1A;
    font-size: 32px;

}
h2 {
    font-weight: 700;
    display: flex;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #1A1A1A;

}

p {
    display: flex;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #1A1A1A;
    font-size: 21px;
    font-weight: 500;
}